body{
  font-family: sans-serif;
  
}
h1{
  color: coral;
}

.container{
  padding:40px;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 6px;
  width: 500px;


}
#ChuckImg{
  height: 220px;
  width: 220px;
  margin-bottom: 40px;
}

#jokeBtn{
  background-color: coral;
  color: white;
  width: 100px;
  height: 50px;
  font-size: 18px;
  border-radius: 20px;

}
#jokeText{
  font-size: 20px;
  
}
.openBtn{
  display: block;
  position: absolute;
  top: 2em;
  right: 5em;
}
#jokerImg{
  width: 50px;
  height: 50px;
  padding-bottom: 10px;
  padding-left: 10px;

}

.open,
.closeBtn{
  background-color: lightseagreen;
  color: white;
  border-radius: 30px;
  padding: 5px;
  font-size: 35px;
  border: none;
}

.container{
  
  opacity: 0;
}


.show{
  opacity: 1;
}

.favoriteBtn{
  background-color: red;
  color: white;
  border-radius: 50%;
  border: none;
  margin-bottom: 30px;

}

